.container {
    position: relative;
    width: 100%;
    height: 100vh;
        /* justify-content: center;
        align-items: center; */
    
}

.background {
    position: relative;
    top: 0;
    left:0;
    background-size: cover;
    background-position: center;
    overflow:hidden;
    width: 100%;
    height: 100%;
}

.social-buttons {
    position: absolute;
/*     top: 139%; */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    justify-content: center;
    align-items: center;
    margin-top: 10vh; 

}

@media (max-width: 768px) {
    .social-buttons {
        top: 50%; /* Positionnement au milieu de l'écran */
        margin-top: 0; /* Supprimer la marge en haut */
    }
}

@media (min-width: 769px) {
    .social-buttons {
        top: 139%; /* Positionnement à 139% de la hauteur de l'écran */
    }
}

.social-button { 
    display: inline-block; 
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.social-image {
    width: 50px; 
    height: auto;
    cursor: pointer; 
}

