body, html {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

.container {
    height: 100vh; 
    width: 100%;
    background-image: url('images/ciel-bleu.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    z-index: 1;  
    overflow-y: hidden;
    overflow-x: hidden;
    padding-bottom: 0; 
}

#plight{
    font-family: Kalam;
    font-size: 1.5vw ;
    color : #E8DCCC;
    text-align: justify;
}

.social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
